body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn-modern{
    background-color: rgb(28, 181, 105);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.4s;
    cursor: pointer;
}
.btn-modern:hover {
    background-color: rgb(181, 28, 176);
    color: black;
    box-shadow: 4px 4px 10px black;
    transform: translateY(-5px);
}